@charset "UTF-8";

.preloader[data-v-63d11a51] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 999
}

.preloader[data-v-63d11a51]:before {
    background-color: #eeede9;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.preloader--bg[data-v-63d11a51]:before {
    opacity: 1
}

.text-splitter {
    display: block;
    opacity: 0
}

.text-splitter--splitted {
    opacity: 1
}

.animated-label--has-build-on .animated-label__char {
    opacity: 0
}

.header-logo {
    display: flex;
    left: 1.2rem;
    pointer-events: none;
    position: absolute;
    top: 2.7rem;
    white-space: nowrap
}

.header-logo--back {
    pointer-events: all;
    position: fixed
}

@media (min-width:768px) {
    .header-logo {
        left: 1.38889vw;
        pointer-events: all;
        position: fixed;
        top: 1.25vw
    }

    .header--transitioning .header-logo {
        pointer-events: none
    }
}

.header-logo__svg {
    height: .9rem;
    pointer-events: none;
    width: 9.6rem
}

@media (min-width:1024px) {
    .header-logo__svg {
        height: .625vw;
        width: 6.66667vw
    }
}

.nav-item {
    color: currentColor
}

@media (min-width:768px) {
    .nav__list--secondary .nav-item:not(:last-child) {
        position: relative
    }

    .nav__list--secondary .nav-item:not(:last-child):after {
        content: "·";
        padding-top: .1rem;
        pointer-events: none;
        position: absolute;
        right: -.8rem
    }
}

.nav-item__link {
    display: flex
}

@media (max-width:767px) {
    .nav-item__link {
        font-family: LayWeb, sans-serif;
        font-size: 2.6rem;
        letter-spacing: -.025em;
        line-height: 1;
        text-transform: inherit
    }
}

@media (max-width:767px) and (min-width:768px) {
    .nav-item__link {
        font-size: 4.09722vw;
        letter-spacing: -.035em;
        line-height: .9491
    }
}

@media (max-width:767px) {
    .nav-item__link:before {
        display: none
    }
}

@media (min-width:768px) {
    .nav-item__link {
        position: relative
    }

    .nav-item__link:before {
        background-color: currentColor;
        border-radius: 50%;
        content: "";
        height: max(.2rem, .13889vw);
        left: max(-1.4rem, -.69444vw);
        margin-bottom: .1rem;
        opacity: 0;
        position: absolute;
        top: calc(50% - .3rem);
        transform: scale(0);
        transition: transform .8s cubic-bezier(.22, 1, .36, 1), opacity .8s cubic-bezier(.22, 1, .36, 1) .4s;
        width: max(.2rem, .13889vw)
    }

    .is-visible .nav-item__link:before {
        opacity: 1
    }

    .nav-item__link.router-link-active:before,
    .nav-item__link.router-link-exact-active:before {
        transform: scale(1)
    }
}

.border {
    display: flex;
    position: relative;
    width: 100%
}

.border:before {
    background-color: currentColor;
    content: "";
    height: .1rem;
    left: 0;
    opacity: .25;
    position: absolute;
    right: 0;
    top: .4rem;
    transform: scaleX(0);
    transition: transform 1s cubic-bezier(.22, 1, .36, 1)
}

.is-visible .border:before {
    transform: scaleX(1)
}

.border--left:before {
    transform-origin: 24.02778vw center
}

.border--right:before {
    transform-origin: calc(100% - 24.02778vw) center
}

.border__svg {
    height: .9rem;
    transform: rotate(135deg) scale(0);
    transition: transform 1s cubic-bezier(.22, 1, .36, 1);
    width: .9rem
}

.is-visible .border__svg {
    transform: rotate(0) scale(1)
}

.border--left .border__svg {
    margin-left: 14.4vw
}

@media (min-width:768px) {
    .border--left .border__svg {
        margin-left: 24.02778vw
    }
}

.border--right .border__svg {
    margin-left: auto;
    margin-right: 14.4vw
}

@media (min-width:768px) {
    .border--right .border__svg {
        margin-right: 24.02778vw
    }
}

.border--center .border__svg {
    margin-left: auto;
    margin-right: auto
}

.nav-contact-btn {
    align-items: center;
    display: flex;
    position: relative
}

@media (max-width:767px) {
    .nav-contact-btn {
        font-family: LayWeb, sans-serif;
        font-size: 2.6rem;
        letter-spacing: -.025em;
        line-height: 1;
        text-transform: inherit
    }
}

@media (max-width:767px) and (min-width:768px) {
    .nav-contact-btn {
        font-size: 4.09722vw;
        letter-spacing: -.035em;
        line-height: .9491
    }
}

@media (min-width:768px) {
    .nav-contact-btn {
        transform: translate(.4rem, -1.5rem);
        transition: transform .8s cubic-bezier(.22, 1, .36, 1)
    }

    .nav-contact-btn--expanded {
        transform: translate(0)
    }
}

@media (min-width:768px) and (hover:hover) {
    .nav-contact-btn--expanded:hover .nav-contact-btn__svg-wrapper:before {
        transform: scale(0) rotate(-45deg);
        transform-origin: top left;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(.84, 0, .16, 1)
    }

    .nav-contact-btn--expanded:hover .nav-contact-btn__svg-wrapper:after {
        transform: scale(1) rotate(0);
        transform-origin: top right;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(.84, 0, .16, 1)
    }

    .nav-contact-btn--expanded:hover .nav-contact-btn__svg {
        color: #212121
    }
}

.nav-contact-btn__label {
    margin-right: .8rem;
    position: relative;
    top: .2rem;
    z-index: 2
}

@media (min-width:768px) {
    .nav-contact-btn__label {
        transform: translate(3.4rem);
        transition: transform .8s cubic-bezier(.22, 1, .36, 1)
    }

    .nav-contact-btn--expanded .nav-contact-btn__label {
        transform: translate(0)
    }
}

.nav-contact-btn__label .animated-label:before {
    background-color: transparent;
    bottom: -1.2rem;
    content: "";
    left: 0;
    position: absolute;
    right: -5rem;
    top: -1.5rem
}

.nav-contact-btn__svg-wrapper {
    display: none
}

@media (min-width:768px) {
    .nav-contact-btn__svg-wrapper {
        align-items: center;
        display: flex;
        height: 4.2rem;
        justify-content: center;
        position: relative;
        width: 4.2rem
    }

    .nav-contact-btn__svg-wrapper:before {
        background-color: #929292;
        border-radius: .4rem;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0) rotate(-45deg);
        transform-origin: top right;
        transition: transform .8s cubic-bezier(.22, 1, .36, 1);
        width: 100%
    }
}

@media (min-width:768px) and (hover:hover) {
    .nav-contact-btn__svg-wrapper:after {
        background-color: #eeede9;
        border-radius: .4rem;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0) rotate(-45deg);
        transform-origin: top left;
        transition: transform .8s cubic-bezier(.22, 1, .36, 1);
        width: 100%
    }
}

@media (min-width:768px) {
    .nav-contact-btn--expanded .nav-contact-btn__svg-wrapper:before {
        transform: scale(1) rotate(0)
    }
}

.nav-contact-btn__svg {
    color: #929292;
    height: .9rem;
    opacity: 0;
    position: relative;
    transform: translate(1.4rem);
    transition: transform .8s cubic-bezier(.22, 1, .36, 1), color .8s cubic-bezier(.22, 1, .36, 1), opacity .2s cubic-bezier(.22, 1, .36, 1) .66s;
    width: .9rem;
    z-index: 1
}

@media (min-width:1024px) {
    .nav-contact-btn__svg {
        height: max(.9rem, .625vw);
        width: max(.9rem, .625vw)
    }
}

.is-visible .nav-contact-btn__svg {
    opacity: 1
}

.nav-contact-btn--expanded .nav-contact-btn__svg {
    color: #eeede9;
    transform: translate(0)
}

@media (max-width:767px) {
    .nav {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: calc(100% - 1rem);
        justify-content: center;
        padding: 0 2rem;
        pointer-events: none;
        position: fixed;
        right: .5rem;
        top: .5rem;
        transform: translate(calc(100% + .5rem));
        transition: transform 1s cubic-bezier(.22, 1, .36, 1);
        width: 79.73333vw
    }

    .nav:before {
        background-color: #eeede9;
        border-radius: .4rem;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%
    }

    .nav--open {
        pointer-events: all;
        transform: translate(0)
    }
}

.nav__border {
    margin: 1.2rem 0
}

@media (min-width:768px) {
    .nav__border.border {
        display: none
    }
}

.nav__border.border--left .border__svg {
    margin-left: unset
}

.nav__list-wrapper {
    position: relative
}

@media (min-width:768px) {
    .nav__list-wrapper {
        left: 25.65972vw;
        position: fixed;
        top: 1.25vw
    }
}

.nav__list-inner {
    position: relative
}

.nav__list {
    display: flex
}

.nav__list--primary {
    flex-direction: column;
    transition: opacity .6s cubic-bezier(.22, 1, .36, 1);
    transition-delay: .2s
}

.nav__list--secondary {
    -moz-column-gap: 1.2rem;
    column-gap: 1.2rem
}

@media (max-width:767px) {
    .nav__list--secondary {
        flex-direction: column
    }
}

@media (min-width:768px) {
    .nav__list--secondary {
        position: fixed;
        right: 1.38889vw;
        top: 1.25vw;
        transition-delay: .4s
    }
}

@media (max-width:767px) {
    .nav__list {
        position: relative
    }
}

.header-contact-btn {
    align-items: center;
    color: #eeede9;
    display: flex;
    height: 4.2rem;
    justify-content: center;
    padding: 0 1.8rem;
    position: fixed;
    right: 5.6rem;
    top: 1.2rem
}

.header-contact-btn:before {
    background-color: #929292;
    border-radius: .4rem;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0) rotate(-45deg);
    transform-origin: bottom right;
    transition: transform .8s cubic-bezier(.22, 1, .36, 1) 0s;
    width: 100%
}

.is-visible .header-contact-btn:before {
    transform: scale(1) rotate(0)
}

@media (min-width:768px) {
    .header-contact-btn {
        display: none
    }
}

.header-contact-btn__label {
    opacity: 0;
    position: relative;
    transition: opacity .8s cubic-bezier(.22, 1, .36, 1) .2s;
    z-index: 1
}

.is-visible .header-contact-btn__label {
    opacity: 1
}

.nav-toggle {
    color: #eeede9;
    display: flex;
    height: 4.2rem;
    position: fixed;
    right: 1.2rem;
    top: 1.2rem;
    width: 4.2rem
}

.nav-toggle:before {
    background-color: #929292;
    border-radius: .4rem;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0) rotate(-45deg);
    transform-origin: bottom right;
    transition: transform .8s cubic-bezier(.22, 1, .36, 1) .1s;
    width: 100%
}

.is-visible .nav-toggle:before {
    transform: scale(1) rotate(0)
}

@media (min-width:768px) {
    .nav-toggle {
        display: none
    }
}

.nav-toggle__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: relative;
    transition: opacity .8s cubic-bezier(.22, 1, .36, 1) .3s;
    width: 100%;
    z-index: 1
}

.is-visible .nav-toggle__wrapper {
    opacity: 1
}

.nav-toggle__svg {
    transition: opacity .6s cubic-bezier(.22, 1, .36, 1), transform .6s cubic-bezier(.22, 1, .36, 1)
}

.nav-toggle__svg--open {
    height: .5rem;
    transition-delay: .1s;
    width: .9rem
}

.nav-toggle--open .nav-toggle__svg--open,
.nav-toggle__svg--close {
    opacity: 0;
    transform: scale(0);
    transition-delay: 0s
}

.nav-toggle__svg--close {
    height: 1rem;
    left: 50%;
    margin-left: -.5rem;
    margin-top: -.5rem;
    position: absolute;
    top: 50%;
    width: 1rem
}

.nav-toggle--open .nav-toggle__svg--close {
    opacity: 1;
    transform: scale(1);
    transition-delay: .1s
}

.header {
    color: #929292;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 900
}

.header--transitioning {
    pointer-events: none
}

@media (min-width:1024px) {
    .header {
        z-index: 500
    }
}

.btn {
    align-items: center;
    color: currentColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    row-gap: 1.6rem
}

@media (min-width:1024px) {
    .btn {
        row-gap: 1.11111vw
    }
}

.btn--inline {
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    flex-direction: row
}

@media (min-width:1024px) {
    .btn--inline {
        -moz-column-gap: .69444vw;
        column-gap: .69444vw
    }
}

.btn--light {
    color: #929292
}

.btn--dark {
    color: #eeede9
}

@media (hover:hover) {
    .btn:hover .btn__svg-wrapper:before {
        transform: scale(0) rotate(-45deg);
        transform-origin: bottom right
    }

    .btn:hover .btn__svg-wrapper:after,
    .btn:hover .btn__svg-wrapper:before {
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(.84, 0, .16, 1)
    }

    .btn:hover .btn__svg-wrapper:after {
        transform: scale(1) rotate(0);
        transform-origin: bottom left
    }

    .btn:hover.btn--light .btn__svg-wrapper {
        color: #eeede9
    }

    .btn:hover.btn--dark .btn__svg-wrapper {
        color: #929292
    }
}

.btn__svg-wrapper {
    align-items: center;
    color: currentColor;
    display: flex;
    height: 4.2rem;
    justify-content: center;
    position: relative;
    width: 4.2rem
}

.btn__svg-wrapper:before {
    border-radius: .4rem;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

@media (hover:hover) {
    .btn__svg-wrapper {
        transition: color .8s cubic-bezier(.22, 1, .36, 1)
    }

    .btn__svg-wrapper:before {
        transform-origin: bottom left
    }

    .btn__svg-wrapper:after,
    .btn__svg-wrapper:before {
        transition: transform .8s cubic-bezier(.22, 1, .36, 1)
    }

    .btn__svg-wrapper:after {
        border-radius: .4rem;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: scale(0) rotate(-45deg);
        transform-origin: bottom right;
        width: 100%
    }

    .cursor .btn__svg-wrapper:after {
        display: none
    }
}

.btn--light .btn__svg-wrapper:before {
    background-color: #eaffb0
}

.btn--dark .btn__svg-wrapper:before,
.btn--light .btn__svg-wrapper:after {
    background-color: #929292
}

.btn--dark .btn__svg-wrapper:after {
    background-color: #eaffb0
}

.btn__svg {
    position: relative;
    z-index: 1
}

.btn__svg--play {
    height: .7rem;
    width: .6rem
}

.btn__svg--open {
    height: .9rem;
    width: .9rem
}

.btn__svg--link {
    height: .9rem;
    width: 1rem
}

.btn__svg--close {
    height: 1rem;
    width: 1rem
}

.btn__label .animated-label:before {
    background-color: transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.cursor {
    color: #abaaaa;
    display: none;
    left: 2rem;
    pointer-events: none;
    position: fixed;
    top: 2rem;
    z-index: 900
}

.cursor--scroll {
    mix-blend-mode: difference
}

.cursor--loader {
    display: block
}

@media (hover:hover) {
    .cursor {
        display: block
    }
}

.cursor__wrapper {
    display: flex
}

.cursor__wrapper--label {
    align-items: center;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap
}

.cursor__svg {
    bottom: .1rem;
    height: .9rem;
    margin-right: .6rem;
    position: relative;
    width: .9rem
}

@media (min-width:1024px) {
    .cursor__svg {
        bottom: .2rem;
        height: max(.9rem, .625vw);
        width: max(.9rem, .625vw)
    }
}

.fade-enter-active .cursor__svg,
.fade-leave-active .cursor__svg {
    transition: transform .8s cubic-bezier(.22, 1, .36, 1)
}

.fade-enter-from .cursor__svg,
.fade-leave-to .cursor__svg {
    transform: scale(0) rotate(-180deg)
}

.cursor-btn-enter-active,
.cursor-btn-leave-active {
    transition: transform .8s cubic-bezier(.22, 1, .36, 1)
}

.cursor-btn-enter-from {
    transform: scale(0) rotate(-45deg);
    transform-origin: bottom left
}

.cursor-btn-leave-to {
    transform: scale(0) rotate(45deg);
    transform-origin: bottom center
}

.landscape-orientation {
    align-items: center;
    background-color: #eeede9;
    color: #929292;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    position: fixed;
    z-index: 999
}

@media screen and (orientation:landscape) and (max-width:1000px) and (hover:none) {
    .landscape-orientation {
        display: flex
    }
}

.curtain {
    background-color: #eeede9;
    clip-path: inset(20% 20% 20% 20% round .4rem);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 400
}

.curtain--dark {
    background-color: #212121
}

.modal-overlay {
    -webkit-backdrop-filter: blur(2.5rem);
    backdrop-filter: blur(2.5rem);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 600
}

.modal-overlay--lower-z {
    pointer-events: none;
    z-index: 300
}

.modal-overlay:before {
    background-color: #212121;
    opacity: .05
}

.modal-overlay:after,
.modal-overlay:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.modal-overlay:after {
    background-color: #e1dcd533;
    opacity: .85;
    z-index: 1
}

.btn-close {
    align-items: center;
    color: #929292;
    display: flex;
    justify-content: center;
    position: absolute;
    right: .7rem;
    top: .7rem;
    z-index: 2
}

@media (max-width:1023px) {
    .btn-close {
        background-color: #eaffb0;
        border-radius: .4rem;
        color: #929292;
        height: 4.2rem;
        width: 4.2rem
    }
}

@media (min-width:1024px) {
    .btn-close {
        right: 1.38889vw;
        top: 1.18056vw
    }
}

@media (max-width:1023px) {
    .btn-close__label {
        display: none
    }
}

.btn-close__label .animated-label:before {
    background-color: transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.btn-close__svg {
    height: 1rem;
    width: 1rem
}

@media (min-width:1024px) {
    .btn-close__svg {
        margin-bottom: .3rem;
        margin-right: .6rem
    }
}

.modal {
    bottom: .6rem;
    color: #929292;
    left: .6rem;
    position: fixed;
    right: .6rem;
    top: .6rem;
    z-index: 950
}

@media (min-width:1024px) {
    .modal {
        bottom: .34722vw;
        left: unset;
        right: .34722vw;
        top: .34722vw;
        width: 49.58333vw;
        z-index: 700
    }
}

.modal__wrapper {
    background-color: #eeede9;
    border-radius: .4rem;
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 1
}

.contact-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 10.9rem 1.2rem 8.9rem;
    position: relative
}

@media (min-width:1024px) {
    .contact-modal {
        padding: 13dvh 2.77778vw 17dvh
    }
}

.contact-modal__header {
    align-items: flex-start;
    border-bottom: .1rem solid hsla(0, 0%, 57%, .2);
    border-top: .1rem solid hsla(0, 0%, 57%, .2);
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2.4rem
}

@media (min-width:1024px) {
    .contact-modal__header {
        padding: 2.63889vw 0 2.77778vw
    }
}

.contact-modal__header .btn__label {
    color: #929292
}

.contact-modal__header-cta {
    padding-top: .7rem
}

@media (min-width:1024px) {
    .contact-modal__header-cta {
        padding-top: .76389vw
    }
}

.contact-modal__footer {
    border-top: .1rem solid hsla(0, 0%, 57%, .2);
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: .9rem
}

@media (min-width:1024px) {
    .contact-modal__footer {
        padding-top: 1.38889vw
    }
}

.contact-modal__socials {
    display: flex;
    flex-direction: column
}

.base-video {
    display: flex;
    position: relative;
    width: 100%
}

.base-video--fit {
    height: 100%
}

.base-video--fit video {
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0
}

.base-video video {
    height: 100%;
    opacity: 0;
    transition: opacity .4s;
    width: 100%
}

.base-video--loaded video {
    opacity: 1
}

.base-image {
    display: block
}

.base-image--fit {
    height: 100%
}

.base-image--fit img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.base-image__placeholder {
    opacity: 0
}

.base-image__img {
    opacity: 0;
    transition: opacity .8s cubic-bezier(.22, 1, .36, 1)
}

.base-image__img--loaded {
    opacity: 1
}

.accordion__content {
    height: .1rem;
    overflow: hidden;
    position: relative
}

.accordion__content:after {
    background-color: #91919133;
    bottom: 0;
    content: "";
    height: .1rem;
    left: 0;
    position: absolute;
    width: 100%
}

.accordion__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 0;
    position: relative
}

@media (min-width:1024px) {
    .accordion__header {
        padding: 2.5rem 0
    }
}

.accordion__button {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

@media (min-width:1024px) {
    .accordion__button {
        right: .9rem
    }
}

.accordion__svg--open {
    height: .9rem;
    width: .9rem
}

.accordion__svg--close {
    height: 1rem;
    width: 1rem
}

.accordion__wrapper {
    padding-bottom: 2.1em;
    padding-top: .1rem
}

@media (min-width:1024px) {
    .accordion__wrapper {
        padding-bottom: 2.8rem
    }
}

@media (max-width:1023px) {
    .service-modal-addon {
        display: none
    }
}

@media (min-width:1024px) {
    .service-modal-addon {
        background-color: #eeede9;
        border-radius: .4rem;
        bottom: .34722vw;
        overflow: hidden;
        padding: 11dvh 1.38889vw;
        position: fixed;
        right: 50.27778vw;
        top: .34722vw;
        width: 24.02778vw
    }

    .service-modal-addon:before {
        background: linear-gradient(180deg, #eaffb0, #edece800);
        content: "";
        height: 33dvh;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%
    }
}

.service-modal-addon__list {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: .69444vw;
    z-index: 1
}

.service-modal-addon__item-link {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative
}

.service-modal-addon__item-link .animated-label:before {
    background-color: transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.service-modal-addon__item-fig {
    aspect-ratio: 1/1;
    background-color: #212121;
    border-radius: .4rem;
    margin-right: 1.38889vw;
    overflow: hidden;
    width: 7.5vw
}

.service-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 8.9rem 1.2rem;
    position: relative
}

@media (min-width:1024px) {
    .service-modal {
        padding: 11dvh 2.77778vw 17dvh
    }
}

.service-modal__header {
    border-bottom: .1rem solid hsla(0, 0%, 57%, .2);
    border-top: .1rem solid hsla(0, 0%, 57%, .2);
    display: flex;
    justify-content: center;
    padding: 5.5rem 0 5.4rem
}

@media (min-width:1024px) {
    .service-modal__header {
        padding: 6.04167vw 0 7.22222vw
    }
}

.service-modal__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2.1rem 0 2.2rem
}

@media (min-width:1024px) {
    .service-modal__wrapper {
        padding: 2.08333vw 0 1.875vw
    }
}

.service-modal__col {
    margin-left: auto;
    width: 61.06667vw
}

@media (min-width:1024px) {
    .service-modal__col {
        width: 32rem
    }
}

.service-modal__copy {
    display: flex;
    flex-direction: column;
    row-gap: 1em
}

.service-modal__accordions {
    border-top: .1rem solid hsla(0, 0%, 57%, .2);
    padding-top: 3rem
}

.service-modal__fig {
    aspect-ratio: 228/126;
    border-radius: .4rem;
    margin-bottom: 2rem;
    overflow: hidden
}

@media (min-width:1024px) {
    .service-modal__fig {
        aspect-ratio: 313/174;
        margin-bottom: 2.8rem
    }
}

.service-modal__accordions-wrapper {
    position: relative;
    top: -2.4rem
}

.service-modal__row {
    align-items: center;
    border-bottom: .1rem solid hsla(0, 0%, 57%, .2);
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 0;
    position: relative
}

@media (min-width:1024px) {
    .service-modal__row {
        padding: 2.5rem 0
    }
}

.lab-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8.9rem 1.2rem;
    position: relative
}

@media (min-width:1024px) {
    .lab-modal {
        padding: 11dvh 2.77778vw 17dvh
    }
}

.lab-modal__fig {
    background-color: #91919126;
    margin-bottom: 2rem;
    position: relative
}

@media (min-width:1024px) {
    .lab-modal__fig {
        margin-bottom: 3.95833vw
    }
}

.lab-modal__fig img,
.lab-modal__fig video {
    border-radius: .4rem
}

.lab-modal__fig video {
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0
}

.lab-modal__thumbnail--abs {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s cubic-bezier(.22, 1, .36, 1) .2s;
    width: 100%
}

.lab-modal__fig--loaded .lab-modal__thumbnail--abs {
    opacity: 0;
    pointer-events: none
}

.lab-modal__wrapper {
    padding-top: 2.5rem
}

@media (min-width:1024px) {
    .lab-modal__wrapper {
        display: flex;
        padding-top: 1.73611vw
    }
}

.lab-modal__title {
    padding-bottom: 2rem
}

@media (min-width:1024px) {
    .lab-modal__title {
        flex: 0 0 50%;
        padding-bottom: unset
    }

    .lab-modal__copy {
        flex: 0 0 50%
    }
}

.svg-sprite {
    display: none
}

.webgl-back {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: -1
}

.webgl-back--abs {
    left: 0;
    position: absolute;
    top: 0
}

.webgl-front {
    contain: strict;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 3
}

.webgl-front-canvas {
    bottom: .4166666667vw;
    left: 50%;
    position: absolute;
    transform: translate(-50%)
}

.webgl-canvas {
    outline: none
}

.error__hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: center;
    row-gap: 2rem
}