.footer__row {
    align-items: flex-end;
    padding-bottom: .6rem
}

@media (min-width:1024px) {
    .footer__row {
        padding-bottom: 1.04167vw
    }
}

.footer__socials {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    grid-column: 1/span 6;
    padding-top: 1.6rem
}

@media (min-width:1024px) {
    .footer__socials {
        grid-column: 3/span 3;
        padding-top: 2.08333vw
    }
}

.footer__copyright {
    grid-column: 7/span 2;
    text-align: right
}

@media (max-width:1023px) {

    .footer__copyright,
    .footer__legal {
        display: none
    }
}