.list {
    align-items: flex-start
}

@media (min-width:1024px) {
    .list .section-title {
        grid-column-end: span 4
    }
}

.home-approach__wrapper {
    grid-column: 1/span 6
}

@media (min-width:1024px) {
    .home-approach__wrapper {
        grid-column-end: span 8
    }
}

.list__border--xs {
    grid-column: 1/span 6
}

.list__border--xs.list__border--spacing {
    padding-top: 3.9rem
}

@media (min-width:1024px) {
    .list__border--xs {
        display: none
    }
}

@media (max-width:1023px) {
    .list__border--l {
        display: none
    }
}

.list__border--l .border--left .border__svg {
    margin-left: 0
}

@media (min-width:768px) {
    .list__border--l .border--left .border__svg {
        margin-left: 0
    }
}

.list__wrapper {
    grid-column: 1/span 6
}

@media (min-width:1024px) {
    .list__wrapper {
        grid-column: 5/span 4
    }
}

.list__wrapper--spacing {
    padding-bottom: 11.7rem
}

@media (min-width:1024px) {
    .list__wrapper--spacing {
        padding-bottom: 16.66667vw
    }
}

.list__item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 2.3rem
}

@media (max-width:767px) {
    .list__item {
        padding-left: 15.06667vw
    }

    .list__item.labor {
        font-size: 1.4rem;
        line-height: 1.0714
    }
}

@media (min-width:768px) {
    .list__item {
        padding-left: 24.02778vw
    }
}

@media (min-width:1024px) {
    .list__item {
        flex-direction: row;
        padding-left: unset;
        padding-top: 1.38889vw
    }
}

.list__item:not(:last-child) {
    padding-bottom: 2.1rem;
    position: relative
}

.list__item:not(:last-child):after {
    background-color: #91919126;
    bottom: 0;
    content: "";
    height: .1rem;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform .8s cubic-bezier(.22, 1, .36, 1);
    width: 100%
}

.is-visible .list__item:not(:last-child):after {
    transform: scaleX(1)
}

@media (min-width:1024px) {
    .list__item:not(:last-child) {
        padding-bottom: 4.375vw
    }
}

.list__item:first-child:after {
    transition-delay: .2s
}

.list__item:first-child .list__item-label:first-child {
    transition-delay: .3s
}

.list__item:nth-child(2) .list__item-label:first-child,
.list__item:nth-child(2):after {
    transition-delay: .4s
}

.list__item:nth-child(3):after {
    transition-delay: .6s
}

.list__item:nth-child(3) .list__item-label:first-child {
    transition-delay: .5s
}

.list__item:nth-child(4):after {
    transition-delay: .8s
}

.list__item:nth-child(4) .list__item-label:first-child {
    transition-delay: .6s
}

.list__item-label {
    flex: 0 0 50%
}

@media (max-width:1023px) {
    .list__item-label:first-child {
        padding-bottom: 4.2rem
    }
}